:root {
    --blue: #00425A;
    --white: #FFFBF5;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--white);
    color: var(--blue);
}
button {
    margin: 50px;
    background-color: var(--blue);
    color: var(--white);
    border: 0;
    font-size: 125%;
    border-radius: 3px;
}
button:active {
    background-color: var(--white);
    color: var(--blue);
}
div {
    margin: 50px;
    display: flex;
    justify-content: center;
}
img, #playerImg, #pcImg {
    margin-bottom: 0px;
    width: 150px;
    height: 150px;
}
hr {
    width: 700px;
    border: 0;
    border-top: 2px;
    border-style: dashed;
}
#buttonsDiv, #resultAnnouncer, h2 {
    margin: 0;
}
#resultAnnouncer {
    width: 100px;
    margin-left: 50px;
}
.containerDiv {
    margin-top: 0;
}
.H2YouPC {
    margin: 75px 50px;
}
